<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Comics App</h1>
    <p class="lead">Esta es una aplicación de comics</p>
  </div>
</div>
<div class="container1">
  <div class="card" style="width: 18rem">
    <img src="https://yt3.googleusercontent.com/LV3BNWAe5ZCyX5rPwOVG2-b8InuAHNwIbOOe3ERJTSz2yXoCr_3OARIFoSYqe40_rR5ni779=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">VALORANT</h5>
      <p class="card-text">Valorant es un hero shooter en primera persona multijugador gratuito desarrollado y publicado por Riot Games. El juego se anunció por primera vez con el nombre en clave Project A en octubre de 2019.</p>
      <a href="#" class="btn btn-dark" style="display: flex; justify-content: center; ">JUGAR</a>
    </div>
  </div>
  </div>